* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-light, sans-serif";
}

.mybtn {
  background: red;
  color: #fff;
}

hr {
  border-top: 1px dotted red;
  margin: 1.1%;
}

h2 {
  font-size: 2.6rem;
  margin-bottom: revert;
  color: #fff;
}

.container-fluid {
  padding: 5% 14%;
  text-align: center;
}

/*my navbar */
.navbar {
  padding: 0.6rem 4.5rem;
  background: #040f0f;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.custom-toggler{
font-weight: bold;

}

/*to create a gap between two  nav
*/
.nav-item {
  padding: 0 25px;
  here 0 is for top and button and 18 is left right
}

/*for nav-link font*/
.nav-link {
  font-size: 0.9rem;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

.search-form {
  margin: 0.5rem;
}

input[type="submit"] {
  position: absolute;
}

.search-form input {
  box-shadow: inset 0 0 10px #ccc;
}

.nav-img {
  width: 5%;
  background: red;
  border-radius: 100%;
  display: inline;
}

.navbar-dark .navbar-brand {
  color: #fff;
  display: contents;
}

.nav-highlight {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background-color: #d0451b;
  border-radius: 12px;
  border: 2px solid #942911;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 4px 8px;
  text-decoration: none;
  margin-top: 5%;
}

.nav-highlight:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}

.nav-highlight:active {
  position: relative;
  top: 2px;
}

.bg-color {
  font-weight: bold;
  background: blue;
}

.fa-red {
  color: #fff;
  margin-top: 0.4%;
}

.hidden {
  visibility: hidden;
}

/*navbaar style finish here*/
/*style for first container*/
#header .container-fluid {
  padding: 5.8% 0 0;
}

.carousel-item img {
  width: 220vh;
  height: 65vh;
}

.carousel-caption {
  margin: 10%;
  padding-bottom: 3%;
}

.carousel-caption h2 {
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.carousel-caption p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

/*style for about us*/
#about {
  background: #404040;
}

.about-paragraph {
  text-align: left;
  line-height: 1.5;
  font-size: 1.3rem;
  color: #fff;

  font-family: 'Montserrat', sans-serif;
}

.about-container img {
  width: 60%;
}

/*style for menu section starts from here*/
#menu {
  background: rgb(204, 204, 204);
  font-family: 'Montserrat', sans-serif;
}

#menu .container-fluid {
  padding: 1% 6%;
}

.container-static {
  scroll-behavior: smooth;
  border: px solid red;
}

.menu-heading {
  text-align: center;
}

.menu-button {
  position: sticky;
  top: 0;
  z-index: 9;
}

.menu-button input {
  margin: 6% 2.5% 2%;
  padding: 0.5% 1%;
  font-size: 1.1rem;
  font-weight: bold;
}

.menu-button input:focus {
  background: red;
}

.menu-button input:hover {
  background: orange;
  zoom: 1.2;
}

.menu-button input:active {
  background: red;
}

.card {
  background: #fff;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 10%;
  box-shadow: 5px 20px 15px rgba(0, 0, 0, 0.8);
  border-radius: 4%;
  padding: 0;
}

breakfast-column {
  margin-bottom: 5%;
}

.card-image {}

.card-image img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.card-image img:hover {
  width: 100%;
  transition: width 3s;
  height: 40vh;
  object-fit: cover;
}

.card-label {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgb(242, 242, 242);
}

.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: serif;
}

.card-header button {
  margin-top: 2%;
}

.btn-details {
  width: 50%;
}

.btn-cart {
  width: 48%;
}

/*details CSS*/
.modal-header {
  background: lightblue;
}

.close {
  color: red;
  font-size: 2rem;
}

.modal-body {
  text-align: left;
}

.modal-body h4 {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 10%;
}

.modal-body .modal-checkboxes {
  font-size: 1.2rem;
  font-family: "Montserrat-light,sans-serif";
  zoom: 1.3;
}

.modal-content {
  width: 150%;
  border-radius: 4%;
}

.modal-textarea {
  width: 100%;
  height: 3vw;
  border-radius: 2%;
  background: #cccccc;
  text-align: center;
}

/*section for menu ends here*/
/*style for our team*/
#ourteam {
  background: #ff7f7f2e;
}

.ourteam-head {
  color: #000;
}

.chef-image {
  width: 70%;
  height: 80%;
  border: 1px solid #fff;
  border-radius: 10%;
  box-shadow: 0 5px 20px white rgba(255, 0, 0, 0.8);
}

.chef-style h4 {
  padding-top: 2%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
}

.chef-image:hover {
  width: 80%;
  box-shadow: outside;
  transition: width 3s;
  background: #fff;
}

.chef-style p {
  font-size: 0.9rem;
  color: #aaa;
}

/*partner*/
#partner {
  background: #ff7f7f2e;
}

#partner .container-fluid {
  padding: 0 14%;
  text-align: center;
}

.partner-img {
  width: 15%;
  padding: 1% 4%;
}





@media (max-width:1000px) {

.navbar{
padding: 0 5% 5%;
}
.nav-link{
font-size: 1.5rem;
}
.nav-img{
  width: 18%;
  border-radius: 100%;
  display: inline;
}
.custom-toggler{
padding-top: 5%;

}

#about .container-fluid{
padding: 0 4%;

}
.about-container img{
width: 100%;
margin-bottom: 6%;
}

.about-paragraph {
  font-size: 1.2rem;
}


#ourteam .container-fluid{
padding: 0 5%;
}
.chef-image{
width: 100%;
}
.menu-button input {




}



}
